{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{{ trip.name }} - {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <ol id="country-breadcrumb" class="breadcrumb">
                    <li>{{ trip.country.continent }}</li>
                    <li>{{ trip.country }}</li></ol>
                <h1>{{ trip.name }}</h1>
                <p>{{ trip.type }}</p>

                <div id="trip-map"></div>
            </div>

            <div class="col-md-2">
                <h2>{% trans 'Travelers' %}</h2>
                <ul>
                    {% for traveler in travelers %}
                        <li>{{ traveler }}</li>{% endfor %}</ul>
            </div>

            <div class="col-md-8">
                <h2>{% trans 'Places Visited' %}</h2>
                <ul>
                    {% for destination in destinations %}
                        <li>{{ destination }} - {{ destination.date|date:'Y m d' }}</li>{% endfor %}</ul>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="{% static 'scripts/plugs.js' %}"></script>
    <script type="text/javascript">
        $(function(){

            $('#trip-map').gmap({
                markers: [{% for destination in destinations %}
                    {
                        name: '{{ destination.name }}',
                        type: '{{ destination.type }}',
                        lat: '{{ destination.latitude }}',
                        lng: '{{ destination.longitude }}'
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}]
            });
        });
    </script>
{% endblock %}