{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <h1>{{ trip.name }}</h1>
    <p>{{ trip.country.continent }} &gt; {{ trip.country }}</p>
    <p>{{ trip.type }}</p>

    <h2>{% trans 'Travelers' %}</h2>
    <ul>
        {% for traveler in travelers %}
            <li>{{ traveler }}</li>{% endfor %}</ul>

    <h2>{% trans 'Places Visited' %}</h2>
    <ul>
        {% for destination in destinations %}
            <li>{{ destination }} - {{ destination.date|date:'Y m d' }}</li>{% endfor %}</ul>
</body>
</html>